<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_9569b185c124d7ae9dade6e4656de3d5 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_9569b185c124d7ae9dade6e4656de3d5" ></div>
        
</body>
<script>
    
    
            var map_9569b185c124d7ae9dade6e4656de3d5 = L.map(
                "map_9569b185c124d7ae9dade6e4656de3d5",
                {
                    center: [34.667, -123.555],
                    crs: L.CRS.EPSG3857,
                    zoom: 8,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_9dc8be3c6b0a0ecc449ff3e762aa72f4 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_9569b185c124d7ae9dade6e4656de3d5);
        
    
            var marker_b2caf25bf0c5de50196d18915f3c510e = L.marker(
                [34.667, -123.555],
                {}
            ).addTo(map_9569b185c124d7ae9dade6e4656de3d5);
        
    
        var popup_04cd81a8fdcfccb9c91d2356ad7b68e4 = L.popup({"maxWidth": "100%"});

        
            
                var html_9f6b32bc35a11bf51e9b41fdffac2625 = $(`<div id="html_9f6b32bc35a11bf51e9b41fdffac2625" style="width: 100.0%; height: 100.0%;">Likeliood of presence: 3.9009645581245422%</div>`)[0];
                popup_04cd81a8fdcfccb9c91d2356ad7b68e4.setContent(html_9f6b32bc35a11bf51e9b41fdffac2625);
            
        

        marker_b2caf25bf0c5de50196d18915f3c510e.bindPopup(popup_04cd81a8fdcfccb9c91d2356ad7b68e4)
        ;

        
    
</script>
</html>