<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predict Presence: Albacore Tuna Future</title>
</head>
<body>
    <h1 align = "center">Enter Latitude and Longitude Data<h1/>
        <div class="button" style="display: block; margin-bottom: 0; margin-right: 10px;">
            <div style="display: flex; justify-content: center; align-items: center; padding-top: 10px;">
              <input type="text" id="latitudechange" placeholder="Enter Latitude">
              <input type="text" id="longitudechange" placeholder="Enter Longitude">
              <button class="submit">Predict</button>
            </div>
          </div> 
</body>
</html>